@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'map-passport.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
}

section[id] {
  scroll-margin-top: 60px;
}

.h-full-screen {
  min-height: calc(100vh - 66px);
  @media screen and (min-height: 640px) {
    min-height: calc(100vh - 52px);
  }
}

.bg-black-gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.20) 100%), #272728;
}

.bg-section-gradient-black {
  background: linear-gradient(180deg, rgba(67, 67, 67, 0.00) 0%, rgba(67, 67, 67, 0.50) 100%), #0B0B0B
}

.text-gradient-white {
  background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(255, 255, 255, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.very-strong {
  -webkit-text-stroke: 0.1px currentColor;
}